[user]
	email = nicholas.h.bell@icloud.com
	name = Nicholas Bell
	username = nakalak
[core]
	editor = nano
[help]
	autoCorrect = 1
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
